.nishant-app-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #15883e;
  height: 48px;
}
.nishant-app-button :hover {
  background-color: #1db954;
}

/* Modal Styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999999 !important;
  height: auto;
  background-color: rgba(0, 0, 0, 1);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  width: 500px;
  display: flex;
  border-radius: 8px;
}

.modal-left {
  flex: 1;
  padding: 10px;
}

.modal-left img {
  max-width: 100%;
  border-radius: 8px;
}

.modal-right {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.add-to-cart-btn {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
